@model BTLNhom11.Models.NhanVien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <input asp-for="MaNV" class="form-control" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNV" class="control-label"></label>
                <input asp-for="TenNV" class="form-control" />
                <span asp-validation-for="TenNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaQueQuan" class="control-label"></label>
                <select asp-for="MaQueQuan" class ="form-control" asp-items="ViewBag.MaQueQuan"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaGioiTinh" class="control-label"></label>
                <select asp-for="MaGioiTinh" class ="form-control" asp-items="ViewBag.MaGioiTinh"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaChucVu" class="control-label"></label>
                <select asp-for="MaChucVu" class ="form-control" asp-items="ViewBag.MaChucVu"></select>
            </div>
            <div class="form-group">
                <label asp-for="SDTNV" class="control-label"></label>
                <input asp-for="SDTNV" class="form-control" />
                <span asp-validation-for="SDTNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
