@model BaiTapNhom11.Models.QueQuan

@{
    ViewData["Title"] = "Create";
}

<h1>Chào mừng đến với trang quê quán cửa hàng sách BookKing</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaQueQuan" class="control-label"></label>
                <input asp-for="MaQueQuan" class="form-control" />
                <span asp-validation-for="MaQueQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenQueQuan" class="control-label"></label>
                <input asp-for="TenQueQuan" class="form-control" />
                <span asp-validation-for="TenQueQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay Lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
