@{
    ViewData["Title"] = "Home Page";
}
<style>
    h4{
        font-size: 50px;
        text-align: center;
        color: #FF99FF;
    }
    h1{
        font-size: 30px;
        text-align: center;
        color: #FF99FF;
    }
    h6{
        font-size: 15px;
        text-align: center;
        color: black;
    }
    
    
       .IndexDiv
       {
        
        border-radius: 5px;
        position: fixed;
        background: linear-gradient(to right,#FFCCFF,#FFFFFF);
        top:8 %
        left:0%
        hight:95%;
        width:85%;
       }
</style>
<body>
    <marquee>
     <p><h4 class="text-center font-weight-bolder">Chào mừng đến với bài tập lớn nhóm11 </h4></p>
     <p><h1 class="text-center font-weight-bolder">Nơi chi thức là sức mạnh, tình đồng đội là tất cả</h1> </p>
    </marquee>
<div class="IndexDiv">
   
    <div class="row m-2">

        <div class="col-5">
            
               <p><h2>Một tiểu thuyết gia người cannada đa đã nói rằng:</h2></p>
                <p><h3>Cuốn sách tốt nhất cho bạn là cuốn sách nói nhiều nhất với bạn vào lúc bạn đọc nó. Tôi không nói tới cuốn sách cho bạn nhiều bài học nhất mà là cuốn sách nuôi dưỡng tâm hồn bạn. Và điều đó phụ thuộc vào tuổi tác, trải nghiệm, nhu cầu về tâm lý và tinh thần.
               <p><h3>–Robertson Davies – </h3></p>
               
        </div>
        <div class="col-6">
            <img src="https://file.vfo.vn/hinh/2016/08/hinh-anh-dep-ve-quyen-sach-23.jpg" class="img-fluid" alt="Responsive image"/>
        </div>
      
    </div>
    <div class="1">
         <div class="">
            
               <p><h6>Địa chỉ:</h6></p>
               <p><h6>Ngõ 447, Lạc Long Quân, Phường Xuân La, Quân Tây Hồ, Thành phố Hà Nội</h6>
               <p><h6>Số điện thoại:0869648615</h6></p>
               <p><h6>Chủ Tiệm: Nguyễn Quỳnh Anh</h6></p>
       
</div>
</body>